html {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
}
p {
    line-height: 22px;
    /* letter-spacing: 0.5px;  */
    letter-spacing: 0.031rem;
    /* font-size: 16px;  */
    font-size: 1rem;
}
h1,h2,h3,h4,h5,h6 {


}
h1 {
    /* font-size: 44px; 44px / 16px = 2.75rem */
    font-size: 2.75rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 50px;
}
h2 {
    /* font-size: 28px; */
    font-size: 1.75rem;
    text-transform: uppercase;
    font-weight: 700;
}
h3 {
    /* font-size: 25px; */
    font-size: 1.56rem;
    font-weight: 600;
}
h4 {
    font-size: 1.43rem;
    /* font-size: 23px; */
}
h5 {
    font-size: 1.25rem;
    /* font-size: 20px; */
}       
h6 {
    font-size: 1rem;
    /* font-size: 16px; */
}
a {
    text-decoration: none;
    color: var(--black);
    line-height: 22px;
}